.body {
}

.selection {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 16px;
}

.content {
  max-width: 768px;
  width: 100%;
  margin: 88px auto 0px auto;
  padding: 0 24px 128px 24px;

  @media (max-width: 768px) {
    padding: 0 16px 128px 16px;
  }
}

.choice {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  flex-shrink: 0;
  font-weight: 600;
  font-size: 0.9rem;
  width: 56px;

  @media (max-width: 768px) {
    width: 40px;
  }
}

.right {
  min-width: 10%;
  width: 100%;
  font-size: 0.7rem;
  padding-right: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 768px) {
    padding-right: 0px;
  }
}

.stat {
  width: 20%;
  text-align: right;
  padding-right: 8px;

  strong {
    font-family: 'Mono';
    font-size: 0.65rem;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    color: rgba(0, 0, 0, 0.5);
  }

  @media (max-width: 768px) {
    padding-right: 16px;
  }
}

.radio {
  height: 24px;
  width: 24px;
  border-radius: 24px;
  flex-shrink: 0;
  background: rgba(0, 0, 0, 0.1);
  margin: 16px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  @media (max-width: 768px) {
    margin: 16px 8px 16px 16px;
  }
}

.dot {
  height: 14px;
  width: 14px;
  border-radius: 14px;
  background: var(--color-primary);
}

.h1 {
  font-size: 2.75rem;
  margin-bottom: 8px;
}

.h2 {
  font-size: 1rem;
  margin-bottom: 8px;
  margin-top: 48px;
}

.p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 16px;
}

.pmono {
  font-family: 'Mono';
  font-size: 0.8rem;
  line-height: 1.5;
  margin-bottom: 16px;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 16px;
}

.button {
  background-color: var(--color-primary);
  color: var(--color-background);
  box-sizing: border-box;
  text-transform: uppercase;
  border-radius: 4px;
  outline: 0;
  border: 0;
  min-height: 40px;
  padding: 4px 24px 4px 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  letter-spacing: 0.6px;
  font-weight: 600;
  overflow-wrap: break-word;
  user-select: none;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: 200ms ease all;
  transform: scale(1);
  text-decoration: none;

  &:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
}
