.body {
}

.selection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 16px;
}

.left {
  flex-shrink: 0;
  font-weight: 600;
  font-size: 0.9rem;
  width: 72px;

  @media (max-width: 768px) {
    width: 48px;
  }
}

.right {
  min-width: 10%;
  width: 100%;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stat {
  width: 25%;

  strong {
    font-family: 'Mono';
    font-size: 0.65rem;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    color: rgba(0, 0, 0, 0.5);
  }
}

.radio {
  height: 24px;
  width: 24px;
  border-radius: 24px;
  flex-shrink: 0;
  background: rgba(0, 0, 0, 0.1);
  margin: 16px;
}

.h1 {
  font-size: 2.75rem;
  margin-bottom: 8px;
}

.h2 {
  font-size: 1rem;
  margin-bottom: 8px;
  margin-top: 48px;
}

.p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 16px;
  max-width: 568px;
}

.content {
  max-width: 768px;
  width: 100%;
  margin: 88px auto 0px auto;
  padding: 0 24px 128px 24px;
}
